<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <!--<error-page>
        <location>/commonErrorPage.jsp</location>
    </error-page>-->

    <servlet>
        <servlet-name>ShowAllBooksServlet</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.ShowAllBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookByID</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.testServlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEditedBook</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.SaveEditedBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newBookForm</servlet-name>
        <jsp-file>/jsp/createEditBookForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>newBookForm</servlet-name>
        <url-pattern>/main/newBookForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editBookForm</servlet-name>
        <jsp-file>/jsp/createEditBookForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBookForm</servlet-name>
        <url-pattern>/main/editBookForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createAndEditBook</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.CreateAndEditBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAndEditBook</servlet-name>
        <url-pattern>/main/createBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAndEditBook</servlet-name>
        <url-pattern>/main/editBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEditedBook</servlet-name>
        <url-pattern>/saveEditedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBooksServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookByID</servlet-name>
        <url-pattern>/main/delete_book</url-pattern>
    </servlet-mapping>

</web-app>