<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <!--<error-page>
        <location>/commonErrorPage.html</location>
    </error-page>-->
    <servlet>
        <servlet-name>FindBookByIDServlet</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.FindBookByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllBooksServlet</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.ShowAllBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookByID</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.CreateNewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.testServlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBook</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEditedBook</servlet-name>
        <servlet-class>com.fujitsu.internship.servlets.SaveEditedBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBook</servlet-name>
        <url-pattern>/editBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEditedBook</servlet-name>
        <url-pattern>/saveEditedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBookByIDServlet</servlet-name>
        <url-pattern>/find_book_by_id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBooksServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookByID</servlet-name>
        <url-pattern>/delete_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add_book</url-pattern>
    </servlet-mapping>
</web-app>