body{
    background: #a3e4be;
}

#editBookForm {
    border-radius: 10px;
    padding: 30px 30px;
    width: 40em;
    margin: auto;
    background: #F5F5F5;

}
#mainCentral{
    background: #F5F5F5;
    /*margin: 10px auto;
    width: 100em;*/
    padding: 30px 30px;
    border-radius: 10px;
}

#saveButton{
    margin-top: 10px;

}

#cancelButton{
    margin-top: 10px;
}

#booksLimit{
    width: 65px;
    margin-right: 30px;
}


